*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

body{
background:#0f172a;
color:white;
}

/* section principal */

.itel-section{
height:100vh;
display:flex;
align-items:center;
justify-content:center;
padding:40px;
}
.logo{
    background-color: #1e293b;
}

/* container */

.itel-container{
display:flex;
align-items:center;
justify-content:space-between;
max-width:1200px;
width:100%;
gap:40px;
}

/* texto */

.itel-text{
max-width:600px;
animation: subirDescer 4s ease-in-out infinite;
}

.itel-text h1{
font-size:40px;
margin-bottom:20px;
color:#38bdf8;
}

.itel-text p{
font-size:18px;
line-height:1.6;
margin-bottom:15px;
color:#cbd5f5;
}

/* voltar */

.b{
padding:12px 30px;
border:none;
background:#38bdf8;
color:white;
font-size:16px;
border-radius:8px;
cursor:pointer;
transition:0.3s;
}

b:hover{

background:#0ea5e9;

}


/* imagem */

.itel-image img{
width:450px;
border-radius:15px;
box-shadow:0 10px 30px rgba(0,0,0,0.5);
}

/* animação */

@keyframes subirDescer{

0%{
transform:translateY(0px);
}

50%{
transform:translateY(-20px);
}

100%{
transform:translateY(0px);
}

}

/* responsivo */

@media(max-width:900px){

.itel-container{
flex-direction:column;
text-align:center;
}

.itel-image img{
width:90%;
}

}

